:host {
    border: 1px outset #AAA;
    border-radius: 7px;
    padding: 0px;
    line-height: 130%;
    width: 280px;
    min-height: 80px;
    margin: 5px;    
    /* display: block;     */
    /* align-items: center; */
    
}

:host > section {
    animation-name: left-entering;
}

a > section {
    height: 80px;
    align-items: center;
    justify-content: center;
}

label {
    font-style: italic;
    display: inline-block;
    color: #616161;
}

.vers {
    color: #777;
    zoom: 0.9;
    margin-left: 20px;
    overflow: hidden;
}

.name {
    font-weight: bold;
    font-size: x-large;
    color: darkorange;
}

.contentExplore {
    text-align: center; 
    border-bottom: 1px solid;
    padding-bottom: 3px;
    display: block;
}

.actionArea {
    display: flex;
    justify-content: space-between;
}

a:hover {
    background-color: #f0f0f0;
}