<a (click)="openApp()" [ngStyle]="{'animation-duration': (listIndex / 7) + 's'}">
    <section>
        <i class="col-icon material-icons">cloud</i>
        
        <span class="col2nd">
            <div> 
                <span class="name">{{ app.name }}</span>
                <span class="vers">
                    {{ app.version }}                
                </span>
            </div>
            <div (click)="goToCompare()" class="sp-compare">
                Compare
                <i class="material-icons">compare_arrows</i>
            </div>
        </span>
    </section>
</a>