* {
    color: teal;
}

a {
    border: 1px inset #AAA;
    padding: 10px;
    line-height: 130%;
    width: 30%;
    min-height: 80px;
    margin: 10px;    
    display: inline-block;
    align-items: center;
}

i.material-icons {
    top: 10px;
    left: 10px;
    bottom: 0;
    zoom: 1.8;
    vertical-align: middle;
}

.vers {
    text-align: right;
    color: #777;
}

.vers span {
    float: right;
    display: inline-block;
    margin-right: 20px;
    
    overflow: hidden;
}

.vers i {
    width: 32px;
    zoom: 0.85;
}

.vers span:hover {
    border: 1px solid;
}

.name {
    font-weight: bold;
    font-size: x-large;
}

span {
    margin-left: 10px;
}

a:hover {
    background-color: #f0f0f0;
}