* {
    color: teal;
}

a {
    border: 1px inset #AAA;
    padding: 10px;
    line-height: 130%;
    width: 250px;
    min-height: 80px;
    margin: 10px;    
    display: block;    
    align-items: center;
    animation-name: left-entering;
}

a > section {
    display: flex;
    flex-direction: column;
    
    flex-wrap: wrap;
    height: 80px;
    align-items: center;
    justify-content: center;
}

.col-icon {
    zoom: 1.8;
    align-self: center;
}

.col-icon {
    height: 100%;
    display: flex;
    align-items: center;
}

.col2nd {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 10px;
    height: 95%;
    width: 170px;
    justify-content: flex-end;
}

.col2nd > div:nth-child(1) {
    width: 100%;
    text-align: right;
}

.vers {
    text-align: right;
    color: #777;
    zoom: 0.9;
}

.vers {    
    display: inline-block;
    margin-left: 20px;
    overflow: hidden;
    height: 100%;
    width: 25px;
}

.vers i {
    width: 32px;
    zoom: 0.85;
}

.vers span:hover {
    border: 1px solid;
}

.name {
    font-weight: bold;
    font-size: x-large;
}

a:hover {
    background-color: #f0f0f0;
}

.sp-compare, .sp-compare > i {
    height: 30px;
    zoom: 0.75;
    text-align: right;
}

.sp-compare:hover {
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.sp-compare > i {
    vertical-align: middle;
}