<section>
  <h1><i class="material-icons">notification_important</i> Alert Subscriptions</h1>
  <div class="actions mat-toolbar">
    <button mat-button (click)="addNewSubscription()">Add</button>
  </div>

  <form label="Searching" class="filters" (submit)="filterSubscriber()">
    <label for="inFilter">Filter: </label>
    <input name="inFilter" id="inFilter" type="text" [(ngModel)]="filter" class="field" />
    <input type="button" (click)="filterSubscriber()" value="Search" class="button primary" />
  </form>

  <div class="data">
    <table id="tbSubscribers" class="data-table">
      <tr>
        <th>Id</th>
        <th>Application</th>
        <th>E-mail</th>
        <th>Paths</th>
        <th>
          <i class="material-icons">keyboard_hide</i>
        </th>
      </tr>
      <tr *ngFor="let item of data">
        <td>{{item.id}}</td>
        <td>{{item.appName}}</td>
        <td>{{item.email}}</td>
        <td>{{item.basePathList.join(',<br />')}}</td>
        <td class="tb-action">
          <a (click)="editItem(item)" title="Edit item"><i class="material-icons">edit</i></a>
          <a (click)="removeItem(item)" title="Remove item"><i class="material-icons">delete</i></a>
        </td>
      </tr>
    </table>

    <div class="bottom-info">
      {{data?.length || 0}} item(s) shown
    </div>
  </div>
</section>