.namespace-item {
    padding: 12px;
    vertical-align: middle;
    border-top: 1px solid #AAA;    
    padding-left: 30px;
}

.namespace-item:hover {
    background-color: #F5F5F5;
}

i {
    display: inline-block;
    width: 50px;
    text-align: center;
    margin-right: 7px;
    vertical-align: bottom;
}

.nm-value {
    display: inline-block;
}