:host {
	width: 100%;
}


.field {
	margin-bottom: 10px;
}

label {
	display: inline-block;
	margin-right: 10px;
}

.methodSelect {
	width: 100px;
	padding: 5px;
}

.param-actions {
	text-align: right;
}

.param-actions i {
	font-size: 16px;
}

.param-actions > button {
	color: rgb(129, 88, 202);	/* It's not ready the mat-primary */
	background-color: transparent;
	font-weight: bold;
}

.items {
	text-align: center;
}

.data-table {
	width: 90%;
}


.data-table td {
	vertical-align: top;
}

.prActions {
	display: flex;
	justify-content: space-around;
}