section {
    margin: 0 auto;
    width: 1024px;
}

.form-line {
    width: 90%;
}

.act-bar {
    text-align: right;
}

.info {
    background-color: #F5F5F5;
    border: 1px solid #CCC;
    border-radius: 3px;
    padding: 8px;
}

.info > div {
    margin: 3px;
    line-height: 20px;
    padding: 3px;
}

.compare-filters {
    margin-top: 5px;
}