<section>
    <h1>Comparing Api: {{ apiName }}</h1>
    <div class="info">
        <div>
            <label>Origin namespace</label>
            <div>{{ originNs }}</div>
        </div>
        <div>
            <label>Origin version</label>
            <div>{{ originVersion }}</div>
        </div>
    </div>

    <div class="compare-filters">
        <div>
            <mat-form-field class="form-line">
                <mat-label>Select namespace</mat-label>
                <mat-select (selectionChange)="onChangeNm()" required [(value)]="targetNamespace">
                    <mat-option *ngFor="let nm of namespaceList" [value]="nm">
                        {{nm}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="form-line">
                <mat-label>Select version</mat-label>
                <mat-select required [(value)]="targetVersion" [disabled]="! versionEnabled">
                    <mat-option *ngFor="let vs of versionList" [value]="vs">
                        {{vs}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="act-bar">
            <button mat-button color="primary" class="primary" (click)="goToCompare()">Compare</button>
        </div>
    </div>
</section>
