:host {
    overflow-x: hidden;
    position: absolute;
    left: 0;
    right: 5px;
    bottom: 0;
    top: 90px;
}

.compare-container {
    height: 98%;
    width: 98%;
}

.diff-container {
    width: 98%;
    overflow: auto;
}