<nav [ngClass]="{'page-top': ! isHome, 'start-top': isHome}">
  <h1>OpenAPI Board</h1>

  <span class="ns-menu">
    <span class="hspacer"></span>
    <a [routerLink]="['/']" class="button fancy-button" title="Home">
      <i class="material-icons">dashboard</i>
    </a><a [routerLink]="['/namespaces']" class="button fancy-button">
      <i class="material-icons">group_work</i>Namespaces
    </a>
    <ng-template [ngIf]="false">  <!--Disabled for while -->
      <a [routerLink]="['/app-list/' + namespace]" class="button fancy-button"
       title="APIs on current namespace">
        <i class="material-icons">view_headline</i>Apps
      </a>
    </ng-template>
    <a [routerLink]="['/memory-list']" class="button fancy-button"
     title="Manage memorized requests">
      <i class="material-icons">memory</i>Requests Memory
    </a>
    <ng-template [ngIf]="showSubscriptions" ]>
      <a [routerLink]="['/subs-list']" class="button fancy-button"
         title="Subscriptions">
        <i class="material-icons">notification_important</i>Subscriptions
      </a>
    </ng-template>
    <a (click)="logout()" class="button fancy-button logout-bt"
       title="Manage memorized requests">
      <i class="material-icons">logout</i>Logout
    </a>
  </span>
  
</nav>
<ng-template [ngIf]="namespace">
  <div class="current-ns">
      Namespace: <b>{{ namespace }}</b>
  </div>
</ng-template>