<section>
  <h1><i class="material-icons">notification_important</i> {{(newItem) ? 'Edit' : 'Create'}} Subscription</h1>

  <form name="frSubscriber" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="email"
             id="email"
             name="email"
             class="form-control"
             [(ngModel)]="form.email"
             required
             #mailField="ngModel" />
      <div class="alert alert-danger" role="alert" *ngIf="f.submitted && mailField.invalid" >
        E-mail is required!
      </div>
    </div>

    <div class="form-group">
      <label for="appNameSel">Application: </label>
      <mat-form-field class="form-line w50" >
        <mat-label>Select application</mat-label>
        <mat-select id="appNameSel" required [(value)]="form.appName" #appNameSel>
          <mat-option *ngFor="let ap of appList" [value]="ap.name">
            {{ap.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="alert alert-danger"
           role="alert"
           *ngIf="f.submitted && appNameSel.invalid">
        <div *ngIf="form.appName.errors.required">Application is required</div>
      </div>
    </div>

    <div class="w50">
      <h3>Path filtering:</h3>
      <div class="action-top action-buttons mat-toolbar">
        <button type="button" (click)="addPath()" title="Add parameter"
                mat-button color="primary">
          <i class="material-icons">add</i>
          Add
        </button>
      </div>
      <table class="data-table">
        <tr>
          <th>Base Path</th>
          <th><i class="material-icons">keyboard_hide</i></th>
        </tr>
        <tr *ngFor="let item of pathList; let i = index">
          <td><input name="in_name_{{i}}" type="text" [(ngModel)]="item.value"></td>
          <td><a (click)="removePath(i)" title="Remove item"><i class="material-icons">delete</i></a></td>
        </tr>
      </table>
    </div>

    <div class="form-group action-bar">
      <div class="action-buttons">
        <button type="button" class="secondary" mat-button (click)="cancel()">Cancel</button>
        <button type="button" mat-raised-button color="primary" (click)="save()">Submit</button>
      </div>
    </div>

  </form>
</section>