:host, form {
	width: 100%;
}

input, textarea {
	width: 100%;
	border-radius: 3px;
	border: 1px solid;
	padding: 10px;
	margin-bottom: 10px;
}

select {
	border-radius: 3px;
	border: 1px solid;
	padding: 5px;
	margin-bottom: 10px;
}

button {
	margin: 5px;
}

.action-buttons {
	text-align: right;
}

.action-top > button {
	font-weight: bold;
}

.actions-top {
	padding: 7px 20px;
}

.form-group {
	margin-top: 0.7em;
}

.w50 {
	width: 50%;
}

.data-table {
	width: 100%;
}

.data-table th {
    border-bottom: 1px solid;
}

.data-table td:nth-child(2) {
    text-align: center;
}