<section [ngStyle]="{'animation-duration': (listIndex / 7) + 's'}">
    <mat-card>
        <mat-card-title>
            <span class="name">{{ app.name }}</span>
        </mat-card-title>
        <mat-card-subtitle>
            <label>Version: </label>
            <span class="vers">{{ app.version }}</span>
        </mat-card-subtitle>
        <mat-card-content>
            <a (click)="openApp()" class="contentExplore">
                <i class="material-icons">rocket_launch</i>
                Explore
            </a>
        </mat-card-content>
        
        <mat-card-actions class="actionArea">
            <button mat-button (click)="openApp()">
                <i class="material-icons">manage_search</i>
                View
            </button>
            <button mat-button (click)="goToCompare()">
                <i class="material-icons">compare_arrows</i>
                Compare
            </button>
        </mat-card-actions>
    </mat-card>
</section>