<section>
  <h1 class=""><i class="material-icons">dashboard</i> Dashboard</h1>

  <div>
    <div class="cards">
      <a [routerLink]="['/namespaces']" class="card-item">
        <i class="material-icons">group_work</i>
        <label>Namespaces</label>
      </a>
      <a [routerLink]="['/app-list/' + mainNamespace]" class="card-item"
         title="APIs on main namespace">
        <i class="material-icons">view_headline</i>
        <label>APIs</label>
      </a>
      <a [routerLink]="['/memory-list']" class="card-item">
        <i class="material-icons">memory</i>
        <label>Requests Memory</label>
      </a>
      <ng-template [ngIf]="showSubscriptions">
        <a [routerLink]="['/subs-list']" class="card-item">
          <i class="material-icons">notification_important</i>
          <label>Subscriptions</label>
        </a>
    </ng-template>
    </div>
  </div>
</section>
