<nav [ngClass]="{'page-top': namespace, 'start-top': ! namespace}">
  <h1>OpenAPI Board</h1>

  <span class="ns-menu">
    <span class="hspacer"></span>
    <span class="current-ns">
      Namespace: <b>{{ namespace }}</b>
    </span>
    <ng-template [ngIf]="namespace">
    <a [routerLink]="['/app-list/' + namespace]" class="button fancy-button">
      <i class="material-icons">view_headline</i>Apps
    </a>
    </ng-template>
    <a [routerLink]="['/']" class="button fancy-button">
      <i class="material-icons">dashboard</i>Change
    </a>
  </span>
  
</nav>